/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* CONTAINER */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* LEFT PANEL */
.left-panel {
  flex: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0; 
}
/* RIGHT PANEL */
.right-panel {
  flex: 0.75;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM WRAPPER */
.form-wrapper {
  width: 80%;
  max-width: 380px;
  text-align: center;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 25px;
}

.brand-logo {
  width: 35px;  
  height: 35px;
  object-fit: contain;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #1b1b1b;
}

/* FORM TITLE */
.form-title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin-bottom: 25px;
}

/* LABELS AND INPUTS */
label {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #666;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  color: #0077cc;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

/* BUTTON */
.btn {
  width: 100%;
  background-color: #3e721d;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #2f5a14;
}

/* SIGNUP TEXT */
.signup-text {
  font-size: 13px;
  margin-top: 20px;
  color: #555;
}

.signup-text a {
  color: #0077cc;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* FOOTER */
footer {
  margin-top: 40px;
  font-size: 12px;
  color: #aaa;
  text-align: center;
}